<h1><span class="glyphicon glyphicon-home"></span><br>Dashboard</h1>
<div class="row">
    <div class="col-md-5">
        <h2>Affiliated Projects</h2>
        <div ng-if="!myIssues.Issues.length" >
            <h4>You have not affiliated projects</h4>
        </div>
        <!--<div ng-repeat="issue in myIssues.Issues | unique:'Project.Id'" >-->
            <!--<h3><a href="#/projects/{{issue.Project.Id}}">{{issue.Project.Name}}</a></h3>-->
        <!--</div>-->
        <div ng-repeat="project in affiliatedProjects">
            <h3 ><a href="#/projects/{{project.Id}}">{{project.Name}}</a></h3>
        </div>
        <a href="#/projects-add" class="btn btn-primary" ng-if="currentUser.isAdmin">Add New Project</a>
    </div>
    <div class="col-md-7">
        <h2><span class="glyphicon glyphicon-tasks"></span><br>My Tasks</h2>
        <div ng-if="!myIssues.Issues.length" >
            <h4>You have not assigned issues yet</h4>
        </div>
        <div ng-if="myIssues.Issues.length">
        <table class="table table-hover ">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Project</th>
                <th>Due Date</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="issue in myIssues.Issues | orderBy:'DueDate'">
                <td><a href="#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
                <td>{{issue.Description}}</td>
                <td>{{issue.Project.Name}}</td>
                <td>{{issue.DueDate | date}}</td>
            </tr>
            </tbody>
        </table>
        <pagination total-items="myIssues.TotalCount"
                    ng-model="issuesParams.startPage"
                    items-per-page="issuesParams.pageSize"
                    ng-change="reloadIssues()"
                    max-size="9"
                    boundary-links="true">
        </pagination>
        </div>
    </div>
</div>