<h2>{{currIssue.Title}}</h2>
<div class="row">
    <div class="col-md-8">
        <a href="#/issues/{{currIssue.Id}}/edit" class="btn btn-primary" ng-if="currentUser.isAdmin || isProjectLead">Edit</a>
        <div><strong>Title: </strong>{{currIssue.Title}}</div>
        <div><strong>Issue key: </strong>{{currIssue.IssueKey}}</div>
        <div><strong>Description: </strong>{{currIssue.Description}}</div>
        <div><strong>Assignee: </strong>{{currIssue.Assignee.Username}}</div>
        <div><strong>Priority: </strong>{{currIssue.Priority.Name}}</div>
        <div><strong>Due Date: </strong>{{currIssue.DueDate}}</div>
        <div><strong>Author: </strong>{{currIssue.Author.Username}}</div>
        <div><strong>Project: </strong>{{currIssue.Project.Name}}</div>
        <div><strong>Status: </strong>{{currIssue.Status.Name}}</div>
        <div>
            <strong>Labels: </strong>
            <div ng-repeat="label in currIssue.Labels">
                <span>{{label.Name}}, </span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <form name="changeStatusForm">
        <div class="form-group">
            <label for="InputStatus">Change issue status:</label>
            <select id="InputStatus" ng-model="currIssue.Status.Name" class="form-control" ng-init="currIssue.Status.Name='Open'">
                <option value="Open">Open</option>
                <option value="InProgress">In Progress</option>
                <option value="Resolved">Resolved</option>
                <option value="Closed">Closed</option>
                <option value="ReOpened">Re-Opened</option>
            </select>
        </div>
        <button ng-click="changeStatus(currIssue)" class="btn btn-primary">Change</button>
        </form>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <strong>Comments: </strong>
        <div ng-repeat="comment in currIssueComments">
            <span>{{comment.Author.Username}}</span><br/>
            <span>{{comment.CreatedOn}}</span><br/>
            <span>{{comment.Text}}</span>
        </div>
        <form name="addCommentForm">
            <div><strong>Text:</strong></div>
            <textarea ng-model="comment.text" class="form-control" required></textarea><br/>
            <button ng-click="addComment(comment)" ng-class="addCommentForm.$invalid ? 'disabled-button' : ''" ng-disabled="addCommentForm.$invalid" class="btn btn-primary">Add Comment</button>
        </form>
    </div>
</div>