<h2>{{currIssue.Title}}</h2>
<div class="row">
    <div class="col-md-8">
        <a href="#/issues/{{currIssue.Id}}/edit" class="btn btn-primary">Edit</a>
        <div><strong>Title: </strong>{{currIssue.Title}}</div>
        <div><strong>Issue key: </strong>{{currIssue.IssueKey}}</div>
        <div><strong>Description: </strong>{{currIssue.Description}}</div>
        <div><strong>Assignee: </strong>{{currIssue.Assignee.Username}}</div>
        <div><strong>Priority Id: </strong>{{currIssue.Priority.Id}}</div>
        <div><strong>Due Date: </strong>{{currIssue.DueDate}}</div>
        <div>Author: {{currIssue.Author.Username}}</div>
        <div>Project: {{currIssue.Project.Name}}</div>
        <div>Status: {{currIssue.Status.Name}}</div>
        <div>
            <strong>Labels: </strong>
            <div ng-repeat="label in currIssue.Labels">
                <span>{{label.Name}}, </span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h4>Available statuses:</h4>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <div ng-repeat="comment in currIssue.Comments">
            <span>{{comment.author}}</span><br/>
            <span>{{comment.postedOn}}</span><br/>
            <span>{{comment.text}}</span>
        </div>
        <form name="addCommentForm">
            <div><strong>Text:</strong></div>
            <textarea ng-model="comment.text" class="input-sm"></textarea><br/>
            <button ng-click="addComment(comment)" ng-class="addCommentForm.$invalid ? 'disabled-button' : ''" ng-disabled="addCommentForm.$invalid" class="btn btn-primary">Add Comment</button>
        </form>
    </div>
</div>